body {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#tones {
    max-width: 80%;
    width: 800px;
}

#tones>.row>.col {
    border: 1px solid black;
}

#tones>.row .active {
    background: red;
    color: white;
}

#alarmList {
    width: 800px;
    max-width: 90%;
}

.digits, .signals {
    gap: 2px;
}

.signals > div {
    display: flex;
    align-items: center;
    justify-content: center;
}